[SddmGreeterTheme]
Name=Africa
Description=Savanna Dusk SDDM Theme
Author=Silas
Copyright=2026
License=GPL
Type=sddm-theme
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf